{{#materialize-card}}
  {{#materialize-card-content}}
    <div class="round-card">
      <div class="round-card__header row">
        <div class="round-card__date col s3 m1">
          {{date-widget date=round.date}}
        </div>
        <div class="col s9 m7">
          <p class="round-card__golf-course">{{round.course.name}}</p>
          <p class="round-card__details">{{round.holesPlayed}} trous - {{round.type}} - {{round.scoring}}</p>
        </div>
        <div class="round-card__tees col s12 m4 row">
          {{#each tee in round.course.tees}}
            <div class="col s6 m6 row">
              {{tee-card tee=tee}}
            </div>
          {{/each}}
        </div>
      </div>
      <table class="round-card__scorecards">
        <thead class="round-card__scorecards-header">
          <tr class="round-card__holes">
            <th class="right-align">Trou n°</th>
            {{#each hole in holes}}
              <td class="round-card__hole">{{hole.number}}</td>
            {{/each}}
            <th class="center-align">Total</th>
            <th class="center-align" colspan="2">Score</th>
            <th class="center-align" rowspan="2">Index virtuel</th>
          </tr>
          <tr class="round-card__pars">
            <th class="right-align">Par</th>
            {{#each hole in holes}}
              <td class="round-card__par">{{hole.par}}</td>
            {{/each}}
            <td class="center-align">{{round.course.par}}</td>
            <th class="center-align">Brut</th>
            <th class="center-align">Net</th>
          </tr>
        </thead>
        <tbody>
        {{#each scorecard in round.scorecards}}
          {{score-card scorecard=scorecard}}
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/materialize-card-content}}
{{/materialize-card}}
