<div>
  {{date-widget date=round.date}}
  <h1>{{round.course.name}}</h1>
  <p>{{round.holesPlayed}} trous - {{round.type}} - {{round.scoring}}</p>
</div>
<table>
  <thead>
    <tr>
      <th>Trous</th>
      {{#each hole in holes}}
        <td>{{hole.number}}</td>
      {{/each}}
      <th>Total</th>
      <th colspan="2">Score</th>
      <th>Index virtuel</th>
    </tr>
    <tr>
      <th>Par</th>
      {{#each hole in holes}}
        <td>{{hole.par}}</td>
      {{/each}}
      <td>{{round.course.par}}</td>
      <th>Brut</th>
      <th>Net</th>
    </tr>
  </thead>
  <tbody>
  {{#each scorecard in round.scorecards}}
    {{score-card scorecard=scorecard}}
  {{/each}}
  </tbody>
</table>
