{{player-card player=scorecard.player playingIndex=playingIndex}}
{{#each score in scores}}
  {{score-box score=score}}
{{/each}}
<td class="score-card__total">{{strokes}}</td>
<td class="score-card__gross-score">{{grossScore}}</td>
<td class="score-card__net-score">{{netScore}}</td>
<td class="score-card__virtual-index">{{virtualIndex}} ({{indexDiff}})</td>
